<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="pl">
<head>
	<title>Formularz meczu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">
					<svg class="bi bi-house" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
						<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
					</svg>
				</a>
			</li>
			<li class="nav-item ml-12">
				<a class="nav-link" th:href="@{/players/list}">Zawodnicy</a>
			</li>
			<li class="nav-item" sec:authorize="hasRole('ROLE_WORKER')">
				<a class="nav-link" th:href="@{/games/list}">Mecze</a>
			</li>
			<li class="nav-item" sec:authorize="hasRole('ROLE_WORKER')">
				<a class="nav-link" th:href="@{/rounds/list}">Kolejki</a>
			</li>
			<li class="nav-item" sec:authorize="hasRole('ROLE_WORKER')">
				<a class="nav-link" th:href="@{/seasons/list}">Sezony</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="nav-item ">
				<a class="nav-link disabled" href="#">
					<svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
					</svg>
					Zalogowany użytkownik: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
					[
						<span sec:authorize="hasRole('ROLE_ACCOUNTANT')" class="white-text">księgowość </span>
						<span sec:authorize="hasRole('ROLE_WORKER')" class="white-text">pracownik</span>
					]
				</a>
			</li>
			<li class="nav-item ">
				<form name="logoutForm" th:action="@{/logout}" method="POST">
					<input class="btn btn-light" type="submit" value="Wyloguj"/>
				</form>
			</li>
		</ul>
	</div>
</nav>
<main>
	<div class="container" >
		<div class="row">
			<div class="col-md-12">
				<h4 class="mt-5 pt-4">Mecze</h4>
				<hr>
				<p th:if="${readWrite}" class="h5 mb-4">Dodawanie/edycja meczu</p>
				<p th:if="${readWrite == false}" class="h4 mb-4">Szczegóły meczu</p>
				<form th:action="@{/games/save}"
					  th:object="${game}" method="POST">
					<div th:if="${error == true}" class="help-block text-danger col-xs-offset-1 col-xs-10 mb-2">
						Podane wartości są niepoprawne.
					</div>
					<a th:if="${readWrite}" th:href="@{/games/add-set(gameId=${game.gameId})}"
					   class="btn btn-outline-dark btn-sm  mt-2 mb-4 mr-5">
						Dodaj Set
					</a>
					<div th:if="${gameSets != null}" class="col-6 small">
						<h6>Sety</h6>

						<table class="table table-striped">
							<thead>
							<tr>
								<th>Numer setu</th>
								<th>Wynik I zawodnika</th>
								<th>Wynik II zawodnika</th>
								<th th:if="${readWrite}">Akcja</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="gameSet : ${gameSets}">
								<td th:text="${gameSet.number}" />
								<td th:text="${gameSet.firstPlayerScore}" />
								<td th:text="${gameSet.secondPlayerScore}" />
								<td th:if="${readWrite}" class="form-inline">
									<div sec:authorize="hasAnyRole('ROLE_WORKER')">
										<a th:href="@{/games/update-set(gameId=*{gameId}, gameSetId=${gameSet.gameSetId})}"
										   class="btn btn-outline-secondary btn-sm">
											Edytuj
										</a>
									</div>
									<div sec:authorize="hasRole('ROLE_WORKER')">
										<a th:href="@{/games/delete-set(gameId=${game.gameId}, gameSetId=${gameSet.gameSetId})}"
										   class="btn btn-dark btn-sm ml-1"
										   onclick="if (!(confirm('Czy na pewno chcesz usunąć set?'))) return false">
											Usuń
										</a>
									</div>
							</tr>
							</tbody>
						</table>
					</div>
					<input type="hidden" th:field="*{gameId}" />
					<input type="hidden" th:field="*{firstPlayerId}" />
					<input type="hidden" th:field="*{secondPlayerId}" />
					<div class="row">
						<span th:if="${game.firstPlayerId == 0}" sec:authorize="hasAnyRole('ROLE_WORKER')">
							<a th:if="${readWrite}" th:href="@{/players/choose-player(gameId=${game.gameId}, whichOne='first')}"
							   class="btn btn-outline-secondary ml-3">
								Dodaj zawodnika
							</a>
						</span>
						<span th:if="${game.firstPlayerId != 0}" sec:authorize="hasAnyRole('ROLE_WORKER')">
							<a th:if="${readWrite}" th:href="@{/games/delete-first-player-from-game(playerId=${game.firstPlayerId}, gameId=${game.gameId})}"
							   class="btn btn-dark ml-3"
							   onclick="if (!(confirm('Czy na pewno chcesz usunąć pierwszego zawodnika z meczu?'))) return false">
								Usuń
							</a>
						</span>
						<input type="number" min="0" th:field="*{firstPlayerScore}"
								   class="form-control mb-4 col-1 ml-2" >
						<label class="ml-2 pt-3">Wynik I</label>
						<label th:if="${firstPlayer != null}" class="ml-2 pt-3"
							   th:text=" '(' + ${firstPlayer.name} + ' ' +${firstPlayer.surname} + ')' "></label>
					</div>
					<div class="row">
						<span th:if="${game.secondPlayerId == 0}" sec:authorize="hasAnyRole('ROLE_WORKER')">
							<a th:if="${readWrite}" th:href="@{/players/choose-player(gameId=${game.gameId}, whichOne='second')}"
							   class="btn btn-outline-secondary ml-3">
								Dodaj zawodnika
							</a>
						</span>
						<span th:if="${game.secondPlayerId != 0}" sec:authorize="hasAnyRole('ROLE_WORKER')">
							<a th:if="${readWrite}" th:href="@{/games/delete-second-player-from-game(playerId=${game.secondPlayerId}, gameId=${game.gameId})}"
							   class="btn btn-dark ml-3"
							   onclick="if (!(confirm('Czy na pewno chcesz usunąć drugiego zawodnika z meczu?'))) return false">
								Usuń
							</a>
						</span>
						<input type="number" min="0" th:field="*{secondPlayerScore}"
							   class="form-control mb-4 col-1 ml-2">
						<label class="ml-2 pt-3">Wynik II</label>
						<label th:if="${secondPlayer != null}" class="ml-2 pt-3"
							   th:text=" '(' + ${secondPlayer.name} + ' ' +${secondPlayer.surname} + ')' "></label>
					</div>
<!--					<label th:if="${readWrite}" class="mt-2">Dodaj mecz bez zawodników (spowoduje zapisanie meczu bez zawodników oraz punktów):</label>-->
<!--					<input th:if="${readWrite}" type="checkbox" name="withoutPlayers" th:checked="*{withoutPlayers} ? false: true" />-->

					<input type="text" th:field="*{place}" maxlength="45"
						   class="form-control mb-4 col-4" placeholder="Miejsce *">
					<div class="input-group date" id="gameDate" data-target-input="nearest">
						<input type="text" class="form-control mb-4 col-4 datetimepicker-input" data-target="#gameDate"
							   th:field="*{gameDate}" id="date" placeholder="Termin *"/>
						<div class="input-group-append" data-target="#gameDate" data-toggle="datetimepicker">
							<svg class="bi bi-calendar-date ml-1" width="36px" height="36px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
								<path fill-rule="evenodd" d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
								<path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
							</svg>
						</div>
					</div>
					<h5>Wybierz kolejkę lub turniej
						(* <input th:if="${readWrite}" class="mt-1" type="checkbox" /> )
					</h5>

					<div class="row mt-2 justify-content-around">
						<select class="form-control selectpicker col-4 mb-4" th:field="*{roundId}">
							<option th:if="${readWrite}" th:value="-1">--kolejka--</option>
							<option th:each="round : ${rounds}"
									th:value="${round.roundId}"
									th:utext="${round.discipline} + ', numer: ' + ${round.number}"/>
						</select>
						<!--					Wybieram turniej: <input th:if="${readWrite}" type="checkbox" name="isTournament" th:checked="*{isTournament} ? true: false" />&ndash;&gt;-->
						<select class="form-control selectpicker col-4 mb-4" th:field="*{tournamentId}">
							<option th:if="${readWrite}" th:value="-1">--*turniej--</option>
							<option th:each="tournament : ${tournaments}"
									th:value="${tournament.torunamentId}"
									th:utext="${tournament.name} + ', lokalizacja: ' + ${tournament.location}"/>
						</select>
					</div>

					<br>
					<button th:if="${readWrite}" type="submit" class="btn btn-outline-dark btn-md mt-2">Zapisz</button>
				</form>
				<hr>
				<a th:if="${readWrite}" class="btn btn-light btn-sm active" th:href="@{/games/list}">Powrót do listy meczy</a>
			</div>
		</div>
	</div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript">
    $('#gameDate').datetimepicker({
        format: 'YYYY-MM-DD h:mm'
    });
</script>
</body>
</html>








